/*navigation bar*/
.navbar {
    font-size: 1.1rem;
}
.logo {
    font-size: 1.6rem;
}
.logo-img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
}
/*navigation bar*/

/*home*/
#welcome-section {
    height: 100vh;
    background-image: url("home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-title {
    font-size: 6rem;
    letter-spacing: 0.2em;
}
.name-subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}
/*home*/

/*about*/
.about {
    padding: 10% 0 10% 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
}
.about-text-box {
    grid-column: 2;
}
.about-img-box {
    text-align: right;
    grid-column: 3;
}
.about-img {
    border-radius: 5%;
    width: 100%;
    height: auto;
}
/*about*/

/*projects*/
#projects {
    padding: 13% 10% 0 10%;
    background-color: #343A40;
}
.card a{
    text-align: center;
}
#projects img {
    width: 50%;
    height: auto;
}
#projects .card-body {
    display: block;
}
.card-deck.two {
    padding: 10% 17%;
}
.card-text {
    font-weight: 400;
    font-size: 1.4rem;
}
/*projects*/

/* footer */
.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    padding-top: 5%;
}
.social-media {
    margin-left: 3%;
}
/* footer */

/*mobile phone*/
@media (max-width: 750px) {

    /*home*/

    #welcome-section {
        background-image: url("mobile_home.jpg");
    }
    .name-title {
        font-size: 3.5rem;
        letter-spacing: 0.2em;
    }
    /*home*/

    /*about*/
    .about {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .about-img-box {
        grid-area: 1 / 2 / 1 / 4;
        text-align: center;
    }
    .about-text-box {
        text-align: center;
        grid-area: 2 / 2 / 2 / 4;
        margin-bottom: 8%;
    }
    .about-text-box p {
        font-size: 1.2rem;
    }
    /*about*/

    #projects img {
        width: 80%;
        height: auto;
    }
    .card-deck.two {
        padding: 0;
    }

    .social-media {
        display: flex;
    }
}
/*ipad*/
@media (min-width: 750px) and (min-height: 1000px) {
    /*navigation bar*/
    .navbar {
        font-size: 2.5rem;
    }
    .logo {
        font-size: 2.5rem;
    }
    .logo-img {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }

    #welcome-section {
    background-image: url("mobile_home.jpg");
    }
    .about {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .about-img-box {
        grid-area: 1 / 2 / 1 / 4;
        text-align: center;
    }
    .about-text-box {
        text-align: center;
        grid-area: 2 / 2 / 2 / 4;
        margin-bottom: 8%;
    }
    p {
        font-size: 2.5rem;
    }
    #about-title {
        font-size: 5rem;
    }
    .name-title {
        font-size: 8rem;
    }
    .name-subtitle {
        font-size: 3rem;
    }
    .social-media {
        display: flex;
    }
}