body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.name-title {
    font-size: 6rem;
    letter-spacing: 0.2em;
}
.name-subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}
.navbar {
    font-size: 1.5rem;
    color: black;
}
.logo {
    font-size: 170%;
}
.logo-img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
.home-img {
    max-width: 100%;
    height: auto;
}
.mobile-home-img {
    display: none;
}
#top-section {
    position: relative;
    text-align: center;
    color: white;
}
.title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    align-items: center;
    margin-bottom: 5%;
}
.portofolio {
    padding: 10% 20% 10% 20%;
    text-align: center;
}
.portofolio-item-title {
    font-size: 1.7rem;
}
@media (max-width: 1000px) {
    .home-img {
        display: none;
    }
    .mobile-home-img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .name-title {
        font-size: 8rem;
        letter-spacing: 0.3em;
    }
    .name-subtitle {
        font-size: 3rem;
        letter-spacing: 0.3em;
    }
    .navbar {
        font-size: 3rem;
        color: black;
    }
    .logo {
        font-size: 300%;
    }
    .logo-img {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }
    .portofolio-item-title {
        font-size: 3rem;
    }
    .card-body {
       font-size: 1.6rem;
    }
    .card-body-title {
        font-size: 2.8rem;
    }
    .card-body-subtitle {
        font-size: 2.2rem;
    }
    footer {
        font-size: 1.5rem;
    }
    .fab {
        font-size: 2rem;
    }
}
